
- @product_list_size_col = 4
- @product_list_num =3

.content
  = render "/shared/slider"
  .container
    .page-header
      %h2 Our products
    = render "/shared/product_list"
    .page-header
      %h2 Our products
    = render "/shared/product_list"
